@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/
  @apply text-darkGrey;
  @apply bg-white2;
  
  @apply dark:text-white1;
  @apply dark:bg-darkBg;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @apply bg-red;
  border-radius: 60px;
  padding: 11px 20px;
  color: white;
  font-weight: 700;
  transition: all 0.4s;
}
button:hover {
  scale: 1.1;
}

button:focus{
  @apply bg-darkRed;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
